

.principal {
    background: #cccccc;
    padding: 30px;
}

#banner {
    width:100%;
}

.titulo-principal {
    padding-left: 20px;
    padding: 30px;
    font-size: 60px;
    text-align: center;
    background-color: grey;
    color: honeydew;
    margin-bottom: 5px;
    font-style: oblique;

}

p{
    text-align: center;
  }

 #missao {
    font-size: 20px
 }

 em strong {
      color:#FF0000;
  }
  
  .itens {
      font-style: italic;
  }

  .beneficios {
      background: #ffffff;
      padding: 20px;
  }

  ul {
      display: block;
      vertical-align: top;
      width: 20%;
      margin-right: 15%;
  }

  .imagembeneficios {
      width: 50%;
  }

  .titulo-centralizado {
      text-align: center;
  }

    .botaoHome {
        text-align: center;
        padding: 10px;
        width: 40%;
        border-radius: 10px;
        cursor: pointer;
    }

    ul li {
        margin-bottom: 10px ;
    }
